
.calendar-wrapper .calendar-right::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

.calendar-wrapper .calendar-right::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.calendar-wrapper .calendar-right::-webkit-scrollbar-thumb
{
	background-color: #c9c8c8;
}
.calendar-wrapper .calendar-right::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}




/*
Author:MANOJ M;
Link :https://codepen.io/manoj-m-01
*/